
/*
body{
	
	 background-image: url("https://wallpaperaccess.com/full/3847398.jpg") ;
	 background-repeat: no-repeat;
    -webkit-backdround-size: cover;
    background-size: cover; 
    background-attachment: fixed;
     opacity: 0.5;
}

*/




.todo{
	
	 background-image: url("https://wallpaperaccess.com/full/3847398.jpg") ;
    -webkit-backdround-size: cover;
    background-size: cover; 
     opacity: 0.87;
     height: 950px;
}




.container > h1{
	color:white;
	font-family: 'Agdasima', sans-serif;
	font-size: 48px;
}




.formulario{
	margin-top:55px;
	padding:40px;
	background-color: #000;
	 border-radius: 5px;
	 opacity: 0.91;
}


input[type=text] {
  background-color: #403836 ;
  color: white;
   border: none;
}


.primero{
	font-family: 'Agdasima', sans-serif;
	color:#1684C2 ;
	font-size: 20px;
}



.segundo{
	font-family: 'Agdasima', sans-serif;
	color:#FDFDFD;
	font-size: 20px;
	 font-weight: 100;
    line-height: 10px;
}


input[type=text] {
  background-color: #403836 ;
  color: white;
   border: none;
}


select option {
  
  background: #000;
  color: #fff;
  
}


.combo{
	
   color: #fff;
  background-color:  #403836;	
}
.form-control{
	margin-top: 10px;
}

select:hover {
  color: #000;
  background: #fff;
  /* hover on select */
}

.boton{
	
	   outline: none;
       border: none;
   margin-top:10px ;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
   padding: 12px;
    width:180px;
	 font-family: 'Agdasima', sans-serif;
 font-size: 20px;
 	
}




form .boton:hover{
	
background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 20%);
    transition: background-color 2s ease-in-out;
}



