/*  Estilos Personalizados Bobadilla*/


  .btn-numero1 {
    background-color: #0080c0; /* Cambia el color de fondo del botón a cian */
    color: #000000; /* Cambia el color del texto del botón a negro */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Agrega una sombra al botón */
    transition: background-color 0.3s ease-in-out; /* Agrega una transición suave al cambiar el color de fondo */
  }

  .btn-numero1:hover {
    background-color: #00cccc; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7); /* Aumenta la intensidad de la sombra al pasar el cursor sobre el botón */
  }
  
  
  .btn-actualiza {
  background-color: #008000; /* Cambia el color de fondo del botón a verde */
  color: #ffffff; /* Cambia el color del texto del botón a blanco */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); /* Agrega una sombra al botón */
  transition: background-color 0.3s ease-in-out; /* Agrega una transición suave al cambiar el color de fondo */
}

.btn-actualiza:hover {
  background-color: #9acd32; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
  box-shadow: 0 0 15px rgba(0, 128, 0, 0.7); /* Aumenta la intensidad de la sombra al pasar el cursor sobre el botón */
}


.btn-ver {
  background-color: #0be3f4; /* Color de fondo del botón azul */
  color: #ffffff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 13px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Sombra del botón azul */
  transition: background-color 0.3s ease-in-out; /* Transición suave al cambiar el color de fondo */
}

.btn-ver:hover {
  background-color: #00bcd4; /* Cambia el color de fondo a celeste al pasar el ratón por encima */
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.7); /* Aumenta la intensidad de la sombra al pasar el ratón por encima */
}

.btn-salir {
  background-color: #ff8080; /* Color de fondo rojo claro del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 13px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(255, 128, 128, 0.5); /* Sombra del botón rojo claro */
  transition: background-color 0.3s ease-in-out; /* Transición suave al cambiar el color de fondo */
}

.btn-salir:hover {
  background-color: #ff4d4d; /* Cambia el color de fondo a rojo oscuro al pasar el ratón por encima */
  box-shadow: 0 0 15px rgba(255, 77, 77, 0.7); /* Aumenta la intensidad de la sombra al pasar el ratón por encima */
}




.btn-cancelar {
  background-color: #ff8080; /* Color de fondo rojo claro del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(255, 128, 128, 0.5); /* Sombra del botón rojo claro */
  transition: background-color 0.3s ease-in-out; /* Transición suave al cambiar el color de fondo */
}

.btn-cancelar:hover {
  background-color: #ff4d4d; /* Cambia el color de fondo a rojo oscuro al pasar el ratón por encima */
  box-shadow: 0 0 15px rgba(255, 77, 77, 0.7); /* Aumenta la intensidad de la sombra al pasar el ratón por encima */
}


  
  
/*  Estilos Personalizados de fondo de ver Bobadilla*/  
.id_ver_modal {
  background-color: #000000; /* Color de fondo celeste */
}

.id_ver_modal1 {
background: rgb(31,129,142);
background: radial-gradient(circle, rgba(31,129,142,0.9977240896358543) 11%, rgba(155,218,228,1) 85%);
}


.agrandar-letra td,
.agrandar-letra th {
	font-weight: bold;
  font-size: 16px;
}


  
  
  
  
  
  
  /*  Estilos Personalizados de Body Bobadilla*/
      body1 {
      background-color: #ffff00; /* Cambia el color de fondo a negro */
    }
    
    
    
    